// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "gameTimeRealFormat": "HH:mm",
  "systemTimeRealFormat": "HH:mm",
  "enabled": "true",
  "shape": "Square",
  "showDayNight": "true",
  "info1Label": "jm.theme.labelsource.blank",
  "info2Label": "jm.theme.labelsource.realtime",
  "info3Label": "jm.theme.labelsource.location",
  "info4Label": "jm.theme.labelsource.biome",
  "infoSlotAlpha": "0.7",
  "positionX": "0.8304986",
  "positionY": "0.65882045",
  "sizePercent": "20",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "backgroundAlpha": "0.8",
  "orientation": "North",
  "compassFontScale": "2.0",
  "showCompass": "false",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "moveEffectIcons": "true",
  "effectTranslateX": "-6",
  "effectTranslateY": "117",
  "effectVertical": "true",
  "effectReversed": "true",
  "minimapKeyMovementSpeed": "0.001",
  "position": "BottomRight",
  "active": true,
  "playerDisplay": "LargeIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "2.0",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeIcons",
  "mobDisplayScale": "2.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "2.0",
  "showWaypointLabels": "false",
  "waypointLabelScale": "2.0",
  "locationFormatVerbose": "false",
  "locationFormat": "xzy",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "biome",
  "zoomLevel": "0",
  "configVersion": "5.8.1"
}